<ion-header
  [ngClass]="{
  'small-screen': isSmallScreen,
  'large-screen': !isSmallScreen
}"
>
  <ion-toolbar color="primary">
    <ion-title *ngIf="!materialAtual">Fluxo de Material</ion-title>
    <ion-title *ngIf="materialAtual">
      {{ getExameAtual().material.numero}}
      <span class="small-text"> {{ getExameAtual().material.uf }} </span>
    </ion-title>
    <ion-buttons slot="end" *ngIf="materialAtual">
      <ion-button (click)="printExame()">
        <ion-icon slot="icon-only" name="print-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment [(ngModel)]="selectedTab">
    <ion-segment-button value="materiais" *ngIf="getListaMateriais().length" (click)="onChangeTab()">
      <ion-label>Materiais</ion-label>
    </ion-segment-button>
    <ion-segment-button value="fluxo" (click)="alternarVisualizacaoFluxo()">
      <ion-label>Tarefas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="dados" *ngIf="materialAtual" (click)="onChangeTab()">
      <ion-label>Dados</ion-label>
    </ion-segment-button>
    <ion-segment-button value="fotos" *ngIf="materialAtual" (click)="onChangeTab()">
      <ion-label>Fotos</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content
  [ngClass]="{
  'small-screen': isSmallScreen,
  'large-screen': !isSmallScreen
}"
>
  <ion-grid>
    <ion-row *ngIf="selectedTab==='materiais'">
      <ion-col size="12" size-sm="8" offset-sm="2" class="lista-materiais">
        <ion-item *ngFor="let exame of listaExames">
          <app-etiqueta-material [exame]="exame" [isMaterialAtual]="isMaterialAtual(exame.material)" />
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="selectedTab==='fluxo'">
      <ion-col size="12" size-sm="7" class="lista-fluxo">
        <ion-item *ngIf="!materialAtual">
          <ion-label>
            <ion-icon class="transparente" name="checkmark-outline" slot="icon-only"></ion-icon>
            Receber o material na secretaria do SETEC
          </ion-label>
        </ion-item>
        <section *ngIf="materialAtual">
          <app-tarefa
            [isSmallScreen]="isSmallScreen"
            [tarefa]="getExameAtual().getTarefa(t)"
            [mostrarTarefasConcluidas]="mostrarTarefasConcluidas"
            *ngFor="let t of getRange()"
          />
        </section>
      </ion-col>
      <ion-col size="12" size-sm="5" class="lista-perguntas">
        <!-- Receber Material -->
        <div *ngIf="currentStep() === step.RECEBER_MATERIAL">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle> Início </ion-card-subtitle>
              <ion-item>
                <ion-label>Receber material na Secretaria</ion-label>
                <ion-button slot="end" (click)="addMaterialControl()">
                  <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                </ion-button>
              </ion-item>
              <form [formGroup]="form">
                <div formArrayName="materiais">
                  <ion-item *ngFor="let control of listaMateriais?.controls; let i = index" [formGroupName]="i">
                    <ion-grid class="grid-lista-materiais">
                      <ion-row>
                        <ion-col size="8">
                          <ion-label class="cinza" position="stacked">Número Material</ion-label>
                          <ion-input
                            autofocus
                            type="text"
                            formControlName="numero"
                            (keyup.enter)="receberMaterial()"
                          ></ion-input>
                        </ion-col>
                        <ion-col size="4">
                          <ion-label class="cinza" position="stacked">UF</ion-label>
                          <ion-select formControlName="uf">
                            <ion-select-option value="AC">AC</ion-select-option>
                            <ion-select-option value="AL">AL</ion-select-option>
                            <ion-select-option value="AP">AP</ion-select-option>
                            <ion-select-option value="AM">AM</ion-select-option>
                            <ion-select-option value="BA">BA</ion-select-option>
                            <ion-select-option value="CE">CE</ion-select-option>
                            <ion-select-option value="DF">DF</ion-select-option>
                            <ion-select-option value="ES">ES</ion-select-option>
                            <ion-select-option value="GO">GO</ion-select-option>
                            <ion-select-option value="MA">MA</ion-select-option>
                            <ion-select-option value="MT">MT</ion-select-option>
                            <ion-select-option value="MS">MS</ion-select-option>
                            <ion-select-option value="MG">MG</ion-select-option>
                            <ion-select-option value="PA">PA</ion-select-option>
                            <ion-select-option value="PB">PB</ion-select-option>
                            <ion-select-option value="PR">PR</ion-select-option>
                            <ion-select-option value="PE">PE</ion-select-option>
                            <ion-select-option value="PI">PI</ion-select-option>
                            <ion-select-option value="RJ">RJ</ion-select-option>
                            <ion-select-option value="RN">RN</ion-select-option>
                            <ion-select-option value="RS">RS</ion-select-option>
                            <ion-select-option value="RO">RO</ion-select-option>
                            <ion-select-option value="RR">RR</ion-select-option>
                            <ion-select-option value="SC">SC</ion-select-option>
                            <ion-select-option value="SP">SP</ion-select-option>
                            <ion-select-option value="SE">SE</ion-select-option>
                            <ion-select-option value="TO">TO</ion-select-option>
                          </ion-select>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </div>
              </form>
              <ion-button expand="full" (click)="receberMaterial()" [disabled]="!form.valid">Continuar</ion-button>
            </ion-card-content>
          </ion-card>
        </div>

        <!-- Material Lacrado -->
        <div *ngIf="currentStep() === step.VERIFICAR_MATERIAL_LACRADO ">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle> Lacre </ion-card-subtitle>
              <ion-item>
                <ion-label>Material Lacrado?</ion-label>
              </ion-item>
              <ion-button expand="full" color="success" (click)="materialRecebidoLacrado(true)">Sim</ion-button>
              <ion-button expand="full" color="danger" (click)="materialRecebidoLacrado(false)">Não</ion-button>
            </ion-card-content>
          </ion-card>
        </div>

        <!-- Verificar Deve Ser Lacrado -->
        <ion-card *ngIf="currentStep() === step.VERIFICAR_MATERIAL_DEVE_SER_LACRADO ">
          <ion-card-content>
            <ion-card-subtitle> Lacre </ion-card-subtitle>
            <ion-item>
              <ion-label>Deve ser Lacrado?</ion-label>
            </ion-item>
            <ion-button expand="full" color="success" (click)="iniciarFluxoMaterial()">Sim</ion-button>
            <ion-button expand="full" color="danger" (click)="registrarExcecaoLacre()">Não</ion-button>
          </ion-card-content>
        </ion-card>

        <!-- Verificar Lacre Confere -->
        <ion-card *ngIf="currentStep() === step.VERIFICAR_LACRE_CONFERE">
          <ion-card-content>
            <ion-card-subtitle> Lacre </ion-card-subtitle>
            <ion-item>
              <ion-label>Lacre Confere com Siscrim?</ion-label>
            </ion-item>
            <ion-button expand="full" color="success" (click)="registrarLacreConfere(true)">Sim</ion-button>
            <ion-button expand="full" color="danger" (click)="registrarLacreConfere(false)">Não</ion-button>
          </ion-card-content>
        </ion-card>

        <!-- Verificar SIM Card -->
        <ion-card *ngIf="currentStep() === step.VERIFICAR_QTDE_SIM_CARDS">
          <ion-card-content>
            <ion-card-subtitle> SIM Cards </ion-card-subtitle>
            <form [formGroup]="form">
              <ion-item>
                <ion-input
                  autofocus
                  class="cinza"
                  label="Qtde SIM Cards"
                  type="number"
                  formControlName="qtdeSimCards"
                  (keyup.enter)="registrarQtdeSimCards(this.form.get('qtdeSimCards')?.value)"
                />
              </ion-item>
              <ion-button expand="full" color="primary" (click)="registrarQtdeSimCards(this.form.get('qtdeSimCards')?.value)"
                >Continuar</ion-button
              >
            </form>
          </ion-card-content>
        </ion-card>

        <!-- Verificar Memory Card -->
        <ion-card *ngIf="currentStep() === step.VERIFICAR_QTDE_MEMORY_CARDS">
          <ion-card-content>
            <ion-card-subtitle> Memory Cards </ion-card-subtitle>
            <form [formGroup]="form">
              <ion-item>
                <ion-input
                  autofocus
                  class="cinza"
                  label="Qtde Memory Cards"
                  type="number"
                  formControlName="qtdeMemoryCards"
                  (keyup.enter)="registrarQtdeMemoryCards(this.form.get('qtdeMemoryCards')?.value)"
                />
              </ion-item>
              <ion-button
                expand="full"
                color="primary"
                (click)="registrarQtdeMemoryCards(this.form.get('qtdeMemoryCards')?.value)"
                >Continuar</ion-button
              >
            </form>
          </ion-card-content>
        </ion-card>

        <!-- Verificar Aparelho Recebido Ligado -->
        <ion-card *ngIf="currentStep() === step.VERIFICAR_APARELHO_RECEBIDO_LIGADO">
          <ion-card-content>
            <ion-card-subtitle> AFU / BFU </ion-card-subtitle>
            <ion-item>
              <ion-label> Aparelho foi recebido ligado? </ion-label>
            </ion-item>
            <ion-button expand="full" color="success" (click)="registrarAparelhoRecebidoLigado(true)">Sim</ion-button>
            <ion-button expand="full" color="danger" (click)="registrarAparelhoRecebidoLigado(false)">Não</ion-button>
          </ion-card-content>
        </ion-card>

        <!-- Verificar Funcionamento da Tela -->
        <ion-card *ngIf="currentStep() === step.VERIFICAR_FUNCIONAMENTO_TELA">
          <ion-card-content>
            <ion-card-subtitle> Tela </ion-card-subtitle>
            <ion-item>
              <ion-label> Tela Funciona? </ion-label>
            </ion-item>
            <ion-button expand="full" color="success" (click)="registrarFuncionamentoTela(true)">Sim</ion-button>
            <ion-button expand="full" color="danger" (click)="registrarFuncionamentoTela(false)">Não</ion-button>
          </ion-card-content>
        </ion-card>

        <!-- Verificar Aparelho Bloqueado -->
        <ion-card *ngIf="currentStep() === step.VERIFICAR_TELEFONE_BLOQUEADO">
          <ion-card-content>
            <ion-card-subtitle> Bloqueado </ion-card-subtitle>
            <ion-item>
              <ion-label>Celular foi recebido bloqueado?</ion-label>
            </ion-item>
            <ion-button expand="full" color="success" (click)="registrarTelefoneBloqueado(true)">Sim</ion-button>
            <ion-button expand="full" color="danger" (click)="registrarTelefoneBloqueado(false)">Não</ion-button>
          </ion-card-content>
        </ion-card>

        <!-- Verificar Senha Fornecida -->
        <ion-card *ngIf="currentStep() === step.VERIFICAR_FORNECIMENTO_SENHA">
          <ion-card-content>
            <ion-card-subtitle> Detalhamento da Senha </ion-card-subtitle>
            <form [formGroup]="formSenha">
              <ion-item>
                <ion-select formControlName="senhaFornecidaUsuario" label="Senha fornecida?" interface="popover">
                  <ion-select-option value="1">Sim</ion-select-option>
                  <ion-select-option value="0">Não</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item *ngIf="formSenha.get('senhaFornecidaUsuario')?.value === '1'">
                <ion-input label="Senha" type="text" formControlName="senha"></ion-input>
              </ion-item>
              <ion-button
                expand="full"
                color="primary"
                (click)="registrarSenhaFornecida(formSenha.get('senhaFornecidaUsuario')?.value === '1', form.get('senha')?.value)"
                [disabled]="!formSenha.valid"
              >
                Continuar
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>

        <!-- Verificar Modo Avião -->
        <ion-card *ngIf="currentStep() === step.VERIFICAR_MODO_AVIAO">
          <ion-card-content>
            <ion-card-subtitle> Modo Avião </ion-card-subtitle>
            <ion-item>
              <ion-label>Aparelho recebido em modo avião?</ion-label>
            </ion-item>
            <ion-button expand="full" color="success" (click)="registrarModoAviao(true)">Sim</ion-button>
            <ion-button expand="full" color="danger" (click)="registrarModoAviao(false)">Não</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="selectedTab==='dados'">
      <ion-col size="12" size-sm="6" offset-sm="3" class="dados">
        <!-- Estado de Conservação -->
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle> Estado do Material </ion-card-subtitle>
            <ion-item>
              <ion-label>Estado de Conservação</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Registrar Defeitos Observados</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Registrar Celular Recebido Ligado/Desligado</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Ligar Celular</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Abrir Extrações no Physical Analyzer</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Verificar Chats</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Verificar NR Assinante Operadora</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Verificar Dados Usuário</ion-label>
            </ion-item>
            <ion-button expand="full" (click)="finalizar()">Finalizar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="selectedTab==='fotos'">
      <ion-col size="12" size-sm="6" offset-sm="3" class="fotos">
        <app-galeria-fotos
          titulo="Fotos Embalagem"
          [fotos]="getExameAtual().material.fotos.embalagem"
          [mostrar]="getExameAtual().getTarefa(tarefas.FOTOGRAFAR_EMBALAGEM).ativa"
          (tirarFoto)="onFotosEmbalagem($event)"
          (excluirFoto)="onFotosEmbalagem($event)"
        />

        <app-galeria-fotos
          titulo="Fotos Lacre"
          [fotos]="getExameAtual().material.fotos.lacre"
          [mostrar]="getExameAtual().getTarefa(tarefas.FOTOGRAFAR_NR_LACRE).ativa"
          (tirarFoto)="onFotosLacre($event)"
          (excluirFoto)="onFotosLacre($event)"
        />

        <app-galeria-fotos
          titulo="Fotos Material Etiquetado"
          [fotos]="getExameAtual().material.fotos.detalhes"
          [mostrar]="getExameAtual().getTarefa(tarefas.FOTOGRAFAR_MATERIAL_ETIQUETADO).ativa"
          (tirarFoto)="onFotosMaterial($event)"
          (excluirFoto)="onFotosMaterial($event)"
        />

        <app-galeria-fotos
          titulo="Fotos SIM Cards"
          [fotos]="getExameAtual().material.fotos.simCards"
          [mostrar]="getExameAtual().getTarefa(tarefas.FOTOGRAFAR_SIM_CARD).ativa"
          (tirarFoto)="onFotosSimCards($event)"
          (excluirFoto)="onFotosSimCards($event)"
        />

        <app-galeria-fotos
          titulo="Fotos Memory Card"
          [fotos]="getExameAtual().material.fotos.memoryCard"
          [mostrar]="getExameAtual().getTarefa(tarefas.FOTOGRAFAR_MEMORY_CARD).ativa"
          (tirarFoto)="onFotosMemoryCard($event)"
          (excluirFoto)="onFotosMemoryCard($event)"
        />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
