ion-card-subtitle {
  background-color: #f7f7f7;
  padding: 10px 0;
  text-align: center;
}

.small-item {
  --min-height: 32px; /* Ajuste a altura mínima conforme necessário */
  --padding-start: 8px; /* Ajuste o padding conforme necessário */
  --padding-end: 8px; /* Ajuste o padding conforme necessário */
  --inner-padding-top: 4px; /* Ajuste o padding interno conforme necessário */
  --inner-padding-bottom: 4px; /* Ajuste o padding interno conforme necessário */
}

.small-screen {

  ion-item {
    font-size:14px!important;
  }

  .lista-tarefas {
    padding: 0px;
  }

  .small-text {
    font-size: 10px!important;
  }
 }

 .large-screen {

  .lista-tarefas {
    padding: 0px 0 10px 0px;

    ion-item {
      padding: 0;
    }

    ion-card {
      margin-left: 0px;
    }
  }
  .small-text {
  font-size: 12px!important;
  }
 }

 .grid-lista-materiais{
  padding: 0;
  ion-label {
    padding-top: 10px;
  }
 }

.cinza {
  color: gray!important;
}

.azul {
  color:#0054e9!important;
}

.lista-fluxo {
  padding: 20px 20px 0 0;
}

.lista-perguntas {
  padding: 20px 0 0 0;
}

.dados {
  padding: 20px 0 0 0;
  ion-select::part(label){
    color: gray!important;
  }
  ion-select::part(text){
    color: #0054e9;
  }
}

.fotos {
  padding: 20px 0 0 0;
}

.negrito {
  font-weight: bold;
}

.visible {
  display: block;
}

.hidden {
  display: none!important;
}

.transparente {
  color: transparent!important;
}

.concluida {
  color:#0054e9;
}

.bordered {
  border:1px solid black;
}

.senha-fornecida-usuario {
  font-weight: bold;
}


