ion-card-subtitle {
  background-color: #f7f7f7;
  padding: 10px 0;
  text-align: center;
}

.small-screen {

  ion-item {
    font-size:14px!important;
  }

  .lista-tarefas {
    padding: 0px;
  }
 }

 .large-screen {

  .lista-tarefas {
    padding: 0px 0 10px 0px;

    ion-item {
      padding: 0;
    }

    ion-card {
      margin-left: 0px;
    }
  }
 }

 .grid-lista-materiais{
  padding: 0;
  ion-label {
    padding-top: 10px;
  }
 }

.cinza {
  color: gray!important;
}

.lista-fluxo {
  padding: 20px 20px 0 0;
}

.lista-perguntas {
  padding: 20px 0 0 0;
}

.dados {
  padding: 20px 0 0 0;
}

.fotos {
  padding: 20px 0 0 0;
}


.visible {
  display: block;
}

.hidden {
  display: none!important;
}

.transparente {
  color: transparent!important;
}

.concluida {
  color:blue;
}


