<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Fluxo de Material</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectedTab">
    <ion-segment-button value="fluxo">
      <ion-label>Tarefas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="dados">
      <ion-label>Dados</ion-label>
    </ion-segment-button>
    <ion-segment-button value="fotos">
      <ion-label>Fotos</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid>
    <ion-row *ngIf="selectedTab==='fluxo'">
      <ion-col size="12" size-sm="7" class="lista-fluxo">
        <ion-item *ngIf="!materialAtual">
          <ion-label>
            <ion-icon class="transparente" name="checkmark-outline" slot="icon-only"></ion-icon>
            Receber o material na secretaria do SETEC
          </ion-label>
        </ion-item>
        <app-tarefa [tarefa]="materialAtual && getExameAtual().getTarefa(tarefas.RECEBER_MATERIAL)" />
        <app-tarefa [tarefa]="materialAtual && getExameAtual().getTarefa(tarefas.CONFERIR_LACRE)" />
      </ion-col>
      <ion-col size="12" size-sm="5" class="lista-perguntas">
        <!-- Receber Material -->
        <div *ngIf="currentStep === step.RECEBER_MATERIAL">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle> Início </ion-card-subtitle>
              <ion-item>
                <ion-label>Receber material na Secretaria</ion-label>
                <ion-button slot="end" (click)="addMaterialControl()">
                  <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                </ion-button>
              </ion-item>
              <form [formGroup]="form">
                <div formArrayName="materiais">
                  <ion-item *ngFor="let control of listaMateriais?.controls; let i = index" [formGroupName]="i">
                    <ion-grid class="ion-no-padding">
                      <ion-row>
                        <ion-col size="8">
                          <ion-label class="cinza" position="stacked">Número Material</ion-label>
                          <ion-input type="text" formControlName="numero"></ion-input>
                        </ion-col>
                        <ion-col size="4">
                          <ion-label class="cinza" position="stacked">UF</ion-label>
                          <ion-select formControlName="uf">
                            <ion-select-option value="AC">AC</ion-select-option>
                            <ion-select-option value="AL">AL</ion-select-option>
                            <ion-select-option value="AP">AP</ion-select-option>
                            <ion-select-option value="AM">AM</ion-select-option>
                            <ion-select-option value="BA">BA</ion-select-option>
                            <ion-select-option value="CE">CE</ion-select-option>
                            <ion-select-option value="DF">DF</ion-select-option>
                            <ion-select-option value="ES">ES</ion-select-option>
                            <ion-select-option value="GO">GO</ion-select-option>
                            <ion-select-option value="MA">MA</ion-select-option>
                            <ion-select-option value="MT">MT</ion-select-option>
                            <ion-select-option value="MS">MS</ion-select-option>
                            <ion-select-option value="MG">MG</ion-select-option>
                            <ion-select-option value="PA">PA</ion-select-option>
                            <ion-select-option value="PB">PB</ion-select-option>
                            <ion-select-option value="PR">PR</ion-select-option>
                            <ion-select-option value="PE">PE</ion-select-option>
                            <ion-select-option value="PI">PI</ion-select-option>
                            <ion-select-option value="RJ">RJ</ion-select-option>
                            <ion-select-option value="RN">RN</ion-select-option>
                            <ion-select-option value="RS">RS</ion-select-option>
                            <ion-select-option value="RO">RO</ion-select-option>
                            <ion-select-option value="RR">RR</ion-select-option>
                            <ion-select-option value="SC">SC</ion-select-option>
                            <ion-select-option value="SP">SP</ion-select-option>
                            <ion-select-option value="SE">SE</ion-select-option>
                            <ion-select-option value="TO">TO</ion-select-option>
                          </ion-select>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </div>
              </form>
              <ion-button expand="full" (click)="receberMaterial()" [disabled]="!form.valid">Continuar</ion-button>
            </ion-card-content>
          </ion-card>
        </div>

        <!-- Material Lacrado -->
        <div *ngIf="currentStep === step.VERIFICAR_MATERIAL_LACRADO ">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle> Lacre </ion-card-subtitle>
              <ion-item>
                <ion-label>Material Lacrado?</ion-label>
              </ion-item>
              <ion-button expand="full" color="success" (click)="materialRecebidoLacrado(true)">Sim</ion-button>
              <ion-button expand="full" color="danger" (click)="materialRecebidoLacrado(false)">Não</ion-button>
            </ion-card-content>
          </ion-card>
        </div>

        <!-- Verificar Deve Ser Lacrado -->
        <div *ngIf="currentStep === step.VERIFICAR_MATERIAL_DEVE_SER_LACRADO ">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle> Lacre </ion-card-subtitle>
              <ion-item>
                <ion-label>Deve ser Lacrado?</ion-label>
              </ion-item>
              <ion-button expand="full" color="success" (click)="iniciarFluxoMaterial()">Sim</ion-button>
              <ion-button expand="full" color="danger" (click)="registrarExcecaoLacre()">Não</ion-button>
            </ion-card-content>
          </ion-card>
        </div>

        <!-- Verificar Lacre Confere -->
        <div *ngIf="currentStep === step.VERIFICAR_LACRE_CONFERE">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle> Lacre </ion-card-subtitle>
              <ion-item>
                <ion-label>Lacre Confere com Siscrim?</ion-label>
              </ion-item>
              <ion-button expand="full" color="success" (click)="registrarLacreConfere(true)">Sim</ion-button>
              <ion-button expand="full" color="danger" (click)="registrarLacreConfere(false)">Não</ion-button>
            </ion-card-content>
          </ion-card>
        </div>

        <!-- <ion-item
        [ngClass]="{'visible': tarefa.ativa, 'hidden': !tarefa.ativa, 'lista-tarefas':true }"
        *ngFor="let tarefa of exame.getTarefasAtivas()"
      >
        <ion-label>
          <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
          {{ tarefa.descricao }}
        </ion-label>
      </ion-item> -->
        <br />
        <ion-button (click)="printExame()">Imprimir exame</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="selectedTab==='dados'">
      <ion-col size="12" size-sm="6" offset-sm="3" class="dados">
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle> Dados do Material </ion-card-subtitle>
            <ion-item>
              <ion-label>Atualizar Cadastro Material</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Registrar Código EPOL</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Deslacrar Material</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Etiquetar Material</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-button expand="full" (click)="tirarFotoMaterial()">
                <ion-icon slot="start" name="camera"></ion-icon>
                Fotos Material com Etiqueta QRCODE EPOL
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-label>Registrar Qtde SIM Cards e Memory Cards</ion-label>
              <ion-input type="number"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <!-- Memory Card -->
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle> MEMORY CARD </ion-card-subtitle>
            <ion-item>
              <ion-button expand="full" (click)="tirarFotoMemoryCard()">
                <ion-icon slot="start" name="camera"></ion-icon>
                Foto SIM CARD
              </ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <!-- SIM Card -->
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle> SIM CARD </ion-card-subtitle>
            <ion-item>
              <ion-button expand="full" (click)="tirarFotoSimCard()">
                <ion-icon slot="start" name="camera"></ion-icon>
                Foto SIM CARD
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-label>Operadora</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Realizar Extração UFED</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <!-- Estado de Conservação -->
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle> Estado do Material </ion-card-subtitle>
            <ion-item>
              <ion-label>Estado de Conservação</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Registrar Defeitos Observados</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Registrar Celular Recebido Ligado/Desligado</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Ligar Celular</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <!-- Verificar Tela Funciona -->
        <div *ngIf="currentStep === step.VERIFICAR_FUNCIONAMENTO_TELA">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle> Tela </ion-card-subtitle>
              <ion-item>
                <ion-label>Tela Funciona?</ion-label>
              </ion-item>
              <ion-button expand="full" color="success" (click)="telaFuncionando(true)">Sim</ion-button>
              <ion-button expand="full" color="danger" (click)="telaFuncionando(false)">Não</ion-button>
            </ion-card-content>
          </ion-card>
        </div>

        <!-- Tela Não Funciona -->
        <div>
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle> Fabricante e Modelo </ion-card-subtitle>
              <ion-item>
                <ion-label>Carregar Bateria</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Registrar Defeitos Observados</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Registrar Fabricante</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Registrar Modelo</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </div>

        <!-- Tela Funciona -->
        <div>
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle> Fabricante e Modelo </ion-card-subtitle>
              <ion-item>
                <ion-label>Registrar Percentual Bateria</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Carregar Bateria</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Registrar Fabricante</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Registrar Modelo</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </div>

        <!-- Verificar Bloqueado -->
        <div *ngIf="currentStep === step.VERIFICAR_TELEFONE_BLOQUEADO">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle> Bloqueado </ion-card-subtitle>
              <ion-item>
                <ion-label>Celular foi recebido bloqueado?</ion-label>
              </ion-item>
              <ion-button expand="full" color="success" (click)="nextStep(step.VERIFICAR_FORNECIMENTO_SENHA)"
                >Sim</ion-button
              >
              <ion-button expand="full" color="danger" (click)="nextStep(step.VERIFICAR_MODO_AVIAO)">Não</ion-button>
            </ion-card-content>
          </ion-card>
        </div>

        <!-- VerificarSenhaFornecida -->
        <div *ngIf="currentStep === step.VERIFICAR_FORNECIMENTO_SENHA">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle> Detalhamento da Senha </ion-card-subtitle>
              <ion-item>
                <ion-label>Senha fornecida?</ion-label>
              </ion-item>
              <ion-button expand="full" color="success" (click)="nextStep(step.VERIFICAR_MODO_AVIAO)">Sim</ion-button>
              <ion-button expand="full" color="danger" (click)="nextStep(step.VERIFICAR_EXTRACAO_OK)">Não</ion-button>
            </ion-card-content>
          </ion-card>
        </div>

        <!-- Verificar Modo Avião -->
        <div *ngIf="currentStep === step.VERIFICAR_MODO_AVIAO">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle> Modo Avião </ion-card-subtitle>
              <ion-item>
                <ion-label>Aparelho recebido em modo avião?</ion-label>
              </ion-item>
              <ion-button expand="full" color="success" (click)="registrarModoAviao(true)">Sim</ion-button>
              <ion-button expand="full" color="danger" (click)="registrarModoAviao(false)">Não</ion-button>
            </ion-card-content>
          </ion-card>
        </div>

        <!-- Modo Avião -->
        <div *ngIf="currentStep === step.VERIFICAR_MODO_AVIAO">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle> Modo Avião </ion-card-subtitle>
              <ion-item>
                <ion-label>Registrar Modo Avião</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Colocar em Modo Avião</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Registrar Versão S.O.</ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </div>

        <!-- Registrar Senha Fornecida -->
        <div>
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle> Modo Avião </ion-card-subtitle>
              <ion-item>
                <ion-label>Registrar Detalhes Senha</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Registrar Número Máquina LAPED</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Realizar Extração INSEYES</ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </div>

        <!-- Verificar Extracao OK -->
        <div *ngIf="currentStep === step.VERIFICAR_EXTRACAO_OK">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle> Verificar Extração </ion-card-subtitle>
              <ion-item>
                <ion-label>Extração OK?</ion-label>
              </ion-item>
              <ion-button expand="full" color="success" (click)="nextStep(step.TAREFAS_CONCLUIDAS)">Sim</ion-button>
            </ion-card-content>
          </ion-card>
        </div>

        <!-- Analise Extrações -->
        <div>
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle> Verificar Extração </ion-card-subtitle>
              <ion-item>
                <ion-label>Abrir Extrações no Physical Analyzer</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Verificar Chats</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Verificar NR Assinante Operadora</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Verificar Dados Usuário</ion-label>
              </ion-item>
              <ion-button expand="full" (click)="finalizar()">Finalizar</ion-button>
            </ion-card-content>
          </ion-card>
        </div>

        <!-- Listagem final -->
        <div *ngIf="currentStep === step.TAREFAS_CONCLUIDAS">
          <ion-card>
            <ion-card-content>
              <ion-card-subtitle> Conclusão </ion-card-subtitle>
              <ion-item>
                <ion-label>O exame foi finalizado!</ion-label>
              </ion-item>
              <ion-button expand="full" (click)="nextStep(step.RECEBER_MATERIAL)">Iniciar outro exame</ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="selectedTab==='fotos'">
      <ion-col size="12" size-sm="6" offset-sm="3" class="fotos">
        <app-galeria-fotos
          titulo="Fotos Embalagem"
          [fotos]="getExameAtual().material.fotos.embalagem"
          (tirarFoto)="onFotosEmbalagem($event)"
          (excluirFoto)="onFotosEmbalagem($event)"
        />

        <app-galeria-fotos
          titulo="Fotos Lacre"
          [fotos]="getExameAtual().material.fotos.lacre"
          (tirarFoto)="onFotosLacre($event)"
          (excluirFoto)="onFotosLacre($event)"
        />

        <app-galeria-fotos
          titulo="Fotos Material Etiquetado"
          [fotos]="getExameAtual().material.fotos.detalhes"
          (tirarFoto)="onFotosMaterial($event)"
          (excluirFoto)="onFotosMaterial($event)"
        />

        <app-galeria-fotos
          titulo="Fotos SIM Cards"
          [fotos]="getExameAtual().material.fotos.simCards"
          (tirarFoto)="onFotosSimCards($event)"
          (excluirFoto)="onFotosSimCards($event)"
        />

        <app-galeria-fotos
          titulo="Fotos Memory Card"
          [fotos]="getExameAtual().material.fotos.memoryCard"
          (tirarFoto)="onFotosMemoryCard($event)"
          (excluirFoto)="onFotosMemoryCard($event)"
        />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
