
.small-screen {
  font-size:14px;
 }

 .historico {
  font-size:12px;
 }

.visible {
  display: block;
}

.hidden {
  display: none!important;
}

.transparente {
  color: transparent!important;
}

.concluida {
  color:blue;
}
