<div
  [ngClass]="{
    tarefa: true,
    hidden: !tarefa.ativa || (tarefa.concluida && !mostrarTarefasConcluidas),
    concluida: tarefa.concluida,
    'small-screen': isSmallScreen
  }"
  (click)="toggleHistorico()"
  (mouseleave)="mostrarHistorico = false"
>
  <ion-label>
    <ion-icon [ngClass]="{ transparente: !tarefa.concluida }" name="checkmark-outline" slot="icon-only"></ion-icon>
    {{ tarefa.descricao }}
  </ion-label>
</div>
<div class="historico" *ngIf="mostrarHistorico && tarefa.concluida">
  <div class="log" *ngFor="let log of tarefa.historico">
    <span class="nome">{{ log.usuario.nome }}</span>
    <span class="perfil">{{ log.usuario.perfil }}</span>
    <span class="data">{{ log.data | date : "dd/MM/yyyy HH:mm" }}</span>
  </div>
</div>
